header {
  text-align: center;
}

#title{
  font-size: 3.5rem;
  margin-bottom: 0;
  text-decoration: none;
  position: relative;
}

header > .subtitle{
  font-size: 2rem;
  margin-top: 0;
}

header > ul {
  padding: 0;
}

header > ul > li{
  list-style-type: none;
  display: inline;
  margin: 1rem;
}

header > ul > li > a{
  text-decoration: none;
  color: black;
}

header > ul > li > a.active{
  text-decoration: none;
  color: black;
}


.subtitle{
  font-size: 2.25rem;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
}

.bio{
  text-align: justify;
}

.section{
  width: 50vw;
}

.bio-photo{
  float:left;
  height: 14rem;
  margin-right: 1rem;
}
.bio-photo > p{
  text-align: center;
  position: relative;
  top:40%
}

.serif{
  font-family: "serif";
}

.separator-image-placeholder{
  background-color: pink;
  width:100vw;
  text-align: center;
  align-items: center;
  height:50vh;
}

.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  /* background-color: pink; */
  background-color: #f8f8f8;
  margin: .4rem;
  padding-left:1rem;
  padding-right:1rem;
  border-radius: .2rem;
  /* box-shadow: .1rem .1rem .5rem rgba(0,0,0,0.15); */
}

.cards-container > .card{
  flex: 1;
  flex-grow: 1;
  flex-basis: 20%;
}

.role{
  list-style-type: none;
  margin-top:.2rem;
}

ul.roles{
  margin: .5rem;
  padding: 0;
}

#not-found{
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
#not-found > div{
  text-align: center;
}


.pieceList > li{
  list-style-type: none;
  margin: 0rem;
}